<div class="logo">
  <h1>Time tracker</h1>
</div>
<ul class="custom-nav nav nav-pills">
  <li class="nav-item <%= active?(root_path) %>">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="nav-item <%= active?(posts_path) %>">
    <%= link_to 'Time Entries', posts_path %>
  </li>
  <li class="nav-item <%= active?(new_post_path) %>">
    <%= link_to 'Add New Entries', new_post_path, id: 'new_post_from_nav' %>
  </li>
  <li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<li>
				<%= link_to "TODO_Admin_Dashboard", admin_admin_users_path %>
			</li>
			<li class="divider">
			</li>
			<li>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
  </li>
</ul>
